<div class="container">
  <div class="row justify-content-center mx-auto mt-4">
    <div class="col-8">
      <div class="col-md-6 offset-md-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            {{> signin}} {{> signup}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>