<div class="container">
  <div class="row justify-content-center mx-auto mt-4">
    <div class="col-md">
      <h1>Welcome to this site.</h1>
      <p>Please begin by signing in.</p>
      <a class="btn btn-primary" href="/home" role="button">Sign In</a>
    </div>
  </div>
</div>
</div>